#words.section-content{
    background-color: #6f1a07;
}
.wordList {
    display: grid;
    row-gap: 5px;
    justify-items: center;
}

#filters{
    color:#FBFBFF;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
}
div.langDirection{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.wordSearch{
    max-width: 90%;
}

div.wordSearch form{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

div.wordSearch input[type="text"]{
    width: 100%;
    font-size: calc(10px + 2vmin);
    padding: 0;
    border:0;
    border-bottom:2px solid #DDF093;
    background: transparent;
}

div.wordSearch input[type="text"]:focus{ 
    border:none;	
    outline:none;
    caret-color: #FBFBFF;
    border-bottom:2px solid #34E4EA;
   }