#alphabet.section-content {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#alphabetContent {
    width: 80%;
    text-align: center;
    color: #FBFBFF;
}

#alphabetContent td{
    font-size: 2rem;
}

tbody .ge {
    color: #FFCB77;
}

tbody .letterName {
    color: #84C7D0;
}

tbody .ru {
    color: #B6D094;
}