@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --font:calc(10px + 2vmin); 
}

body {
  font-size: var(--font);
  background-color: #063852;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#header {
  background-color: #011a27;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  top: 0;
  position: fixed;
  z-index: 1;
}

#header ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  color: #FBFBFF;
}

#header li{
  transition-duration: .5s;
  font-size: 0px;
}
#header li::first-letter{
  font-size: var(--font);
}
#header li:hover {
  color: #f0810f;
}
main{
  width: 100%;
  margin-top: 4rem;
}

.dontShow {
  display: none;
}

.section-wrapper{
  height: calc(100vh - 4rem);
  margin-top: 4rem;
}

@media (min-width: 500px) {
  #header li{
    font-size: var(--font);
  }
}
